
:root {
  --primary: #112e51;      /* Navy */
  --secondary-light: #fefefe;
  --secondary-dark: #d5e2ef;
    --secondary-deep: #a5bbd4;
  --secondary: #e9eef3;    /* Light gray-blue */
  --accent: #cd2026;       /* Red */
  --gold: #c8a748;         /* Gold  */

  --text-dark: #1d1f21;
  --text-light: #ffffff;
   --text-medium: #a5bbd4;

    --font-primary: 'Source Sans 3', sans-serif;
    --font-secondary: 'Merriweather', serif;


     /* Font Size Scale (USWDS) */
  --fs-100: 0.875rem;   /* 14px  - small labels */
  --fs-200: 1rem;       /* 16px  - body text */
  --fs-300: 1.125rem;   /* 18px  - large body text */
  --fs-400: 1.25rem;    /* 20px  - small headings */
  --fs-500: 1.5rem;     /* 24px  - section headings */
  --fs-600: 1.75rem;    /* 28px  - page subheaders */
  --fs-700: 2rem;       /* 32px  - page headers */
  --fs-800: 3rem;     /* 40px  - hero titles */
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
    margin-bottom: 1rem;
    color: var(--primary);
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
}

/* global styles */

body {
    font-family: var(--font-primary);
    background-color: var(--secondary-light);
    color: var(--text-dark);
    
 
}

/* nav styles */
.logo-img {
    height: 100px;
    width: auto;
    display: block;
}

.custom-nav {
   background-color: var(--secondary-light);
    width: 100%;
    position: sticky;
    min-height: 100px;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.navbar-toggler {
    background-color: var(--accent);
}

.navbar-toggler-icon {
    filter: invert(1);
   
}

.custom-nav .nav-link {

  color: #112e51; 
  font-size: var(--fs-400);
}

.custom-nav .nav-link:hover {
  color: #cd2026; 
}


.carousel-item img {
    height: 100%;
    aspect-ratio: 16/9;
    filter: brightness(50%);
}   

.hero-caption {
  top: 50%;                
  transform: translateY(-50%); 
  bottom: auto;            
}

.hero-caption h2 {
    font-size: var(--fs-800);
    font-weight: bold;
    color: var(--text-light);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/* links shortcut card */
.links-container {
    width: auto;
    background-color:#cd2026;
    padding: 2rem;
}

.icons {
  
    color: var(--primary);
    font-size: var(--fs-300);
    color: var(--primary);
    padding: 1rem;
    transition: all 0.3s ease;

}
.icons:hover {
    background-color: var(--secondary-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
   
}
.icons img {
    width: 64px;
    height: 64px;
    margin-bottom: 0.5rem;
   
}

.cards-section {
    margin: 4rem 0;
}

.card {
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    background-color:  #f9f9f9;
    border-bottom: 5px solid var(--primary);
   
}
.card-img-top {
    height: 200px;
    object-fit: cover;
   
}

.county-manager {
    background-color: var(--secondary-dark);
   margin: 4rem 0 0 0;
    padding: 2rem;
    border-radius: 50px 50px 0 0;

}


.img-fluid {
  
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin: 2rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.manager-text {
    text-align: center;
    max-width: 600px;
}

.news-updates {
    
    margin: auto 0;
    background-color: var(--secondary);
    border-radius: 0 0 50px 50px;
}

.news-card a{
    font-weight: 600;
    color: var(--primary);
   
}
.news-card a:hover {
    color: var(--accent);
   
}

.xmax-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.news-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

footer {
    background-color: var(--primary);
    color: var(--text-light);
    margin-top: 4rem;
}

footer ul, li, a {
    padding: 10px;
}

footer a:hover {
    color: var(--accent);
}

footer h3 {
    color: var(--text-light);
}

.light-color, .light-color a {
    color: var(--text-medium);
    font-size: var(--fs-200);
}

.icon-footer {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
}

.footer-logo {
    height: 200px;
    width: auto; 
    margin: 0; 
    padding: 0;  
}

/*government page header */
.page-header {
    position: relative;
    height: 400px;
    width: 100%;
    color: var(--text-light);
    overflow: hidden;
    margin-bottom: 2rem;
}
.overlay {
   background-image: url(../images/government-office-lg.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    z-index: -1;
}

.header-content {
    color: var(--text-light);
    padding: 6rem 2rem 0;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
    
}

.header-title {
    font-size: var(--fs-800);
    margin-bottom: 1rem;
    color: var(--text-light)    ;
}

.gov-card {
    background-color: var(--secondary-light);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.card-body a {
  
    font-weight: 600;
    color: var(--primary);
    
}
.card-body a:hover {
    color: var(--accent);
    
}

.government-info{
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 10px;
}

/* departments page header */
.overlay.deparments {
    background-image: url(../images/CountyAdministration.jpg);
}



/* services */
.overlay.services {
    background-image: url(../images/downtown.png);
    background-position: bottom;
    filter: brightness(90%);
}

.aside-list a {
    color: var(--primary)
}

.aside-list a:hover{
    font-weight: bold;
    color: var(--text-light)
}

/* residents*/ 
.overlay.residents {
    background-image: url(../images/Visitors.jpg);
}

.gov-card .card-img-top {
  height: 180px;    
  object-fit: cover;  
  filter: brightness(90%);
}


/*visitors*/
.overlay.visitors {
    background-image: url(../images/waterfall.jpg);
    background-position: center;
 
}
.info-visitors {
    background-color: var(--secondary-dark);
    max-width: 1200px;
    margin:0 auto;
    border-radius: 10px;
    padding: 2rem;
}

/*about*/
.overlay.about {
    background-image: url(../images/forest.jpg);
    background-position: center;
 
}

.about-content {
    
    max-width: 1200px;
}   

.about-section {
      background-color: var(--secondary-deep);
    border-radius: 10px;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}
.about-section.gov {
    background-color: var(--secondary-dark);
}

.about-section.meeting-section {
    background-color: var(--secondary);
}


.meeting-section ul li a {
    margin-bottom: 0.5rem;
    color: #112e51;
}
.meeting-section ul li a:hover {
    color: #cd2026;
}

.about-icon {
opacity: 0.8;
}

/* media queries */

@media (max-width: 991.98px){
  .custom-nav .navbar-collapse{
    background-color: var(--secondary-light);
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
 .custom-nav {
    height: 100px;
 }
       
 .logo-img {
    padding-bottom: 10px;
    height: 150px;
    width: auto;
    display: block;
}


}